[submodule "src/stdsimd"]
	path = src/stdsimd
	url = https://github.com/solana-labs/stdsimd.git
	branch = v0.2
[submodule "src/compiler-builtins"]
	path = src/compiler-builtins
	url = https://github.com/solana-labs/compiler-builtins.git
	branch = v0.4
