[submodule "src/stdsimd"]
	path = src/stdsimd
	url = https://github.com/rust-lang/stdarch.git
	branch = master
[submodule "src/compiler-builtins"]
	path = src/compiler-builtins
	url = https://github.com/solana-labs/compiler-builtins.git
	branch = v0.4
