dist: xenial
sudo: required
language: rust
cache: cargo
rust:
- stable
- nightly
os:
- linux
- osx
matrix:
  allow_failures:
  - rust: nightly
install:
  - cargo --version
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-add-repository "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-7 main";
      sudo apt-add-repository "deb http://ppa.launchpad.net/ubuntu-toolchain-r/test/ubuntu xenial main";
      sudo apt-get update;
      sudo apt-get install -y clang-7 --allow-unauthenticated;
      clang-7 --version;
    fi
script:
- ./build.sh